.div-forum-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    display: flex;
    width: 900px;
    height: 45px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    color: white;
}

.forum-title{
    margin: 0 2%;

}

.forum-n_topics, .forum-n_posts {
    margin: 0 1.4%;
    width: 6%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.div-forum-container-columns{
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    margin-bottom: 3%;
    background-color: white;
    display: flex;
    width: 900px;
    height: 55px;
    border-radius: 10px;
    align-items: center;
}

.forum-title-column, .forum-n_posts-column, .forum-n_topics-column{
    margin: 0 2%;
    
}