html{
    height: 100%;
}

body {

    background: rgb(139,0,255);
    background: -moz-linear-gradient(50deg, rgba(139,0,255,1) 0%, rgba(0,114,255,1) 100%);
    background: -webkit-linear-gradient(50deg, rgba(139,0,255,1) 0%, rgba(0,114,255,1) 100%);
    background: linear-gradient(50deg, rgba(139,0,255,1) 0%, rgba(0,114,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8b00ff",endColorstr="#0072ff",GradientType=1); 
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    background-size: 100% 100%;

    height: 100%;
}

#nav-bar{
    height: 40px;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
    opacity: 0.8;
    backdrop-filter: blur(10px);
}

#div-text-auth{
    text-align: center;
    margin-bottom: 15px;
    font-size: large;
}


#text-auth{
    margin-top: 1px;
    /*text-shadow: 0 0 2px black;*/
    opacity: 0.95;
}


#form-signup{
    display: block;
    border-block-width: 400px;
    max-width: 600px;
    min-width: 450px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.6); 
    backdrop-filter: blur(10px); 
    align-items: center;
    margin: auto;
    box-sizing: border-box;
    padding-top:3rem!important;
    padding-left:3rem!important;
    padding-right:3rem!important;
    padding-bottom:2rem!important;
}

#form-login{
    display: block;
    border-block-width: 400px;
    max-width: 500px;
    min-width: 450px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.6); 
    backdrop-filter: blur(10px); 
    align-items: center;
    margin: auto;
    box-sizing: border-box;
    padding-top:3rem!important;
    padding-left:3rem!important;
    padding-right:3rem!important;
    padding-bottom:2rem!important;
}


#content-div-input-field{
    padding-top: 40px;
    padding-bottom: 20px;
}


#div-input-field{
    width: 90%;
    margin: auto;
    opacity: 0.9;
    
}


#input-field{
    border-radius: 10px;
    box-shadow: 0 0 4px lightgrey;
}


#input-field:hover{
    opacity: 1;
    border-color: cornflowerblue;
    box-shadow: 0 0 5px cornflowerblue;
}

#div-button-auth{
    text-align: center; 
    padding-top: 30px;
    align-items: center;
}

#btn-auth{
    background-color: #332FD0;
    border-color: #332FD0;
    color: white;
    opacity: 0.75;
    margin: 0px;
    text-align: center;
    border-width: 0px;
    border-radius: 4px; 
    
}


#btn-auth:hover{
    opacity: 0.9;
    box-shadow: 0 0 5px #332FD0;
}

#div-alert{
    color: red;
    margin-left: 22px;
}

.filler {
    display: flex;
    flex-grow: 1;
}

.page {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}



@media screen and (max-height: 800px) {

    #form-signup {
        padding: 0 !important;
        max-width: 550px;
        min-width: 350px;
    }

    #form-login {
        padding: 0 !important;
        max-width: 450px;
        min-width: 380px;
    }

    .img-fluid.profile-image-pic.img-thumbnail.rounded-circle.my-3 {
        width: 80px;
    }

    .text-center {
        padding: 0 !important;
    }

    #div-text-auth {
        margin: 0;
        padding-bottom: 10px;
    }

    #content-div-input-field {
        padding: 5px;
    }

    #div-button-auth {
        padding-top: 0 !important;
        margin-top: 5px;
    }

    #div-input-field {
        width: 80% !important;
    }
}
