<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="static/style.css" type="text/css">
  <link rel="stylesheet" href="static/home.css" type="text/css">
  <title>SquareNet</title>
</head>

<body>
  <nav class="navbar navbar-dark bg-dark" id="nav-bar">
    <a class="navbar-brand" href="/">
      <img src="static/images/google-nearby.png" alt="" width="30" height="30">
      <span>Home Page</span>
    </a>
  </nav>

  {% if forums %}
  <div class="div-forum-container-columns">
    <span class="forum-title-column"> Forums: </span>
    <div class="filler"></div>
    <span class="forum-n_topics-column"> Topics: </span>
    <span class="forum-n_posts-column"> Posts: </span>
  </div>
  {%endif%}


  {% for forum in forums %}

  <div class="div-forum-container">
    <span class="forum-title"> {{forum.title}} </span>
    <div class="filler"></div>
    <span class="forum-n_topics"> {{forum.n_topics}} </span>
    <span class="forum-n_posts"> {{forum.n_posts}} </span>
  </div>
  {% endfor %}


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>