<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="static/style.css" type="text/css">

  <title>Document</title>
</head>

<body>

  <nav class="navbar navbar-dark bg-dark" id="nav-bar">
    <a class="navbar-brand" href="/">
      <img src="static/images/google-nearby.png" alt="" width="30" height="30">
      <span>Sign Up</span>
    </a>
  </nav>
  <div class="page">
    <div class="filler"></div>
    <form class="card-body cardbody-color p-lg-5" id="form-signup" method="post">

      <div class="text-center" style="padding-bottom: 50px;">
        <img src="static/images/google-nearby.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
          style="opacity: 0.9;" width="120px" height="120px" alt="profile">
      </div>

      <div id="div-text-auth">
        <b id="text-auth">Sign Up</b>
      </div>

      <div id="content-div-input-field">
        <div class="mb-3" id="div-input-field">
          <input type="text" name="username" class="form-control" aria-describedby="emailHelp" placeholder="Username"
            id="input-field" required></input>
        </div>

        <div class="mb-3" id="div-input-field">
          <input type="email" style="border-radius: 10px; box-shadow: 0 0 4px lightgrey;" name="email"
            class="form-control" id="input-field" aria-describedby="emailHelp" placeholder="Email" required></input>
        </div>

        <div class="mb-3" id="div-input-field">
          <input type="password" style="border-radius: 10px; box-shadow: 0 0 4px lightgrey;" name="passw"
            class="form-control" id="input-field" placeholder="password" required></input>
        </div>

        <div class="mb-3" id="div-input-field">
          <input type="password" style="border-radius: 10px; box-shadow: 0 0 4px lightgrey;" name="confirm_passw"
            class="form-control" id="input-field" placeholder="confirm password" required></input>
        </div>
      </div>

      {% if alert %}
      <div id="div-alert">{{ alert }}</div>
      {% endif%}

      <div id="div-button-auth"><button type="submit" id="btn-auth">Sign Up</button></div>

      <div style="padding-top: 20px; text-align: center;">Possiedi già un account? <a href="/login">Clicca qui</a></div>
        </form>
        <div class="filler"></div>
      </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>